<div class="container rounded-0">
  <div class="d-inline-flex mt-1">
    <div class="">
      <h1 class="p-2">Experiencia Laboral</h1>
    </div>
    <div class="my-auto">
      <button class="btn btn-outline-dark btn-sm rounded-0 shadow" routerLink="/portfolio/agregarExp" *ngIf="isLogged">
        <i class="bi bi-plus-lg" style="font-size: 21px;"></i>
      </button>

    </div>
  </div>
  <hr>



  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">


    <div class="col" *ngFor="let exp of experiencia">

      <div class="card h-100 border-5 rounded-0 shadow-lg">


        <div class="card-body">
          <h5 class="card-title">{{exp.name}}</h5>
          <p class="card-text">{{exp.descripcion}}</p>
        </div>

        <div class="btn-group">

          <button type="button" class="btn btn-secondary rounded-0" routerLink="/portfolio/editarExp/{{exp.id}}"
            *ngIf="isLogged">
            <i class="bi bi-pencil"></i>
            Editar
          </button>

          <button type="button" class="btn btn-danger rounded-0 " (click)="delete(exp.id)" *ngIf="isLogged">
            <i class="bi bi-x-circle"></i>
            Eliminar
          </button>

        </div>

      </div>
    </div>
  </div>




</div>
