<div class="container">
  <h3 class="mt-2 mb-2 text-center">Agregar Experiencia Laboral</h3>
  <form (ngSubmit)="onSubmit()" novalidate #f="ngForm">

    <div class="mb-3 form-group">
      <label for="name" class="form-label">Nombre de la Empresa / Oficio</label>
      <input type="text" class="form-control" id="name" name="nombreExp" [(ngModel)]="name" required>
    </div>

    <div class="mb-3 form-group">
      <label for="descripcion" class="form-label">Descripcion</label>
      <input type="text" name="descripcionExp" class="form-control" id="descripcion" [(ngModel)]="descripcion" required>
    </div>

    <button type="submit" class="btn btn-outline-primary shadow rounded-0"><i class="bi bi-save2"></i> Guardar</button>
  </form>

</div>
