<div class="card bg-dark rounded-0">
<div class="row text-light">

      <div class="col-md-3 d-inline-flex flex-column justify-content-start">

      <img
      src="../../../assets/img/imagenDEperfil.jpeg"
      alt="imagen de perfil"
      class="rounded-circle rounded-5 img-perfil mb-0 m-2 mt-2 border border-5"
      >
      <span class="m-2"><b>Jorge Ezequiel Benitez</b></span>

      <h5 class="m-2">Full Stack Developer Jr</h5>



      </div>
      <div class="col-md-9">
            <h5 class="card-title text-center mt-2">Acerca de mi ...</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ipsam. Ducimus tenetur consequatur, alias facere placeat officiis architecto dolor odio deserunt molestiae. Minima, id consectetur illo minus nam aut sequi.</p>

      </div>



</div>
</div>
