<div class="card rounded-0 " *ngIf="persona">
  <div class="row container-fluid">


    <div class="col-md-3 d-inline-flex flex-column justify-content-start">

      <img src={{persona.img}} alt="imagen de perfil"
        class="rounded-circle rounded-5 img-perfil mb-0 m-2 mt-2 border border-5 shadow">
      <span class="m-2"><b>{{persona.nombre}} {{persona.apellido}}</b></span>

      <h5 class="m-2">Desarrollador Full Stack Jr</h5>
      <button class="btn btn-outline-dark m-1 rounded-0 shadow" routerLink="/portfolio/editPersona/1" *ngIf="isLogged">
        <i class="bi bi-pencil"></i>
        Editar
      </button>
    </div>
    <div class="col-md-9">
      <h2 class="card-title mt-2">Acerca de mi...</h2>
      <p>
        {{persona.descripcion}}
      </p>

    </div>
  </div>
</div>
