<div class="card rounded-0">
  <div class="row ">

    <div class="col-md-3 d-inline-flex flex-column justify-content-start">

      <img src="../../../assets/img/imagenDEperfil.jpeg" alt="imagen de perfil"
        class="rounded-circle rounded-5 img-perfil mb-0 m-2 mt-2 border border-5">
      <span class="m-2"><b>Jorge Ezequiel Benitez</b></span>

      <h5 class="m-2">Desarrollador Full Stack Jr</h5>

    </div>
    <div class="col-md-9">
      <h5 class="card-title text-center mt-2">Acerca de mi ...</h5>
      <p>
        Soy estudiante de desarrollo web, me capacito constantemente de forma autodidacta, buscando nuevos desafios día
        a día. Siempre estoy buscando algo nuevo para aprender o investigando para seguir mejorando.
      </p>

    </div>
  </div>
</div>
