<!-- 
 <div class="card">
    
    <h5 class="card-header">
        {{miPortfolio.datosPersonales.primerNombre + ' ' +miPortfolio.datosPersonales.segundoNombre+' '+miPortfolio.datosPersonales.apellido}}
    </h5>
    
    <img src="assets/img/eze.jpg" class="card-img-top img-fluid  rounded-circle imagen mt-1 "  alt="imagen de porfolio">

    <div class="card-body">
     
      <h5 class="card-title">Full Stack Developer</h5>
      <p class="card-text">
         Localidad:{{miPortfolio.datosPersonales.localidad}}
         <br>
         Provincia:{{miPortfolio.datosPersonales.provincia}}
         <br>
         Nacionalidad: {{miPortfolio.datosPersonales.nacionalidad}}
         <br>
         <span><strong>
             <a href="#">Info de contacto</a>
         </strong></span>

      </p>
      <button type="button" class="btn btn-primary btn-sm mx-1">Tengo interes en</button>
      <button type="button" class="btn btn-secondary btn-sm mx-1">Añadir seccion</button>
      <button type="button" class="btn btn-secondary btn-sm mx-1">Mas</button>

      
    </div>
  </div> -->

  <header class="w-100 "
          >
          <img src="../../../assets/img/fondo.jpg" 
               alt=""
               class="w-100 img" >
  </header>

   <!-- <div  class ="card-body">
      
      <h4>
        {{miPortfolio.formacionAcademica.titulo}}
      </h4>
      
      <p class="card-text text-light">
        Localidad:{{miPortfolio.datosPersonales.localidad}}
        <br>
        Provincia:{{miPortfolio.datosPersonales.provincia}}
        <br>
        Nacionalidad: {{miPortfolio.datosPersonales.nacionalidad}}
        <br>
      </p>

       <p class         ="mb-1">
       
       <a class         ="btn btn-sm btn-info mx-1" 
          data-bs-toggle="collapse" 
          href          ="#collapseExample" 
          role          ="button" 
          aria-expanded ="false" 
          aria-controls ="collapseExample"
          >
        
          Info contacto
       </a>
       </p>

  <div class="collapse " id="collapseExample">
  <div class="card card-body ">
    <span>
      <strong>{{miPortfolio.datosPersonales.email}}</strong>
    </span>
    <span>
      <strong>{{miPortfolio.datosPersonales.telefono}}</strong>
    </span>
  </div>
  </div>

      <button 
      type ="button" 
      class="btn btn-dark btn-sm mx-1"
      >
      Tengo interes en
      </button>
      
      <button 
      type="button" 
      class="btn btn-secondary btn-sm mx-1"
      >
      Añadir seccion
      </button>
      
      <button 
      type ="button" 
      class="btn btn-secondary btn-sm mx-1"
      >
      Mas
      </button>

      <p     class="card-text">
      <small class="text-muted">
      Last updated 3 mins ago
      </small>
      </p>
    </div> -->