<div class="container" *ngIf="proyecto">
  <h3>Editar Proyecto</h3>
  <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

    <div class="mb-3 form-group">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proyecto.nombreP" required>
    </div>

    <div class="mb-3 form-group">
      <label for="descripcion" class="form-label">Descripcion</label>
      <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="proyecto.descripcion"
        required>
    </div>


    <!--
    <div class="mb-3 form-group">
      <label for="img" class="form-label">Imagen</label>
      <input type="file" class="form-control" id="img" name="img" (change)="uploadImage($event)"
        accep=".jpg, .jpeg, .png">
    </div>
    <div class="imagen">
      <img [src]="imageService.url" width="200px">
    </div> -->

    <button type="submit" class="btn btn-primary">Editar Proyecto</button>
  </form>

</div>
