<div class="container-fluid row d-flex m-0">
  <div class="d-inline-flex mt-1">
    <div class="">
      <h1 class="p-2">Hard & Soft Skills</h1>
    </div>
    <div class="my-auto">
      <button class="btn btn-outline-dark btn-sm rounded-0 shadow" routerLink="/portfolio/agregarSkill"
        *ngIf="isLogged">
        <i class="bi bi-plus-lg" style="font-size: 21px;"></i>
      </button>

    </div>
  </div>


  <div class="container mt-2" *ngFor="let skill of skill">
    <div class="d-inline-flex">
      <!--  <img src="/assets/img/html_icon.svg" alt="Bootstrap" width="32" height="32"> -->

      <h5 class="my-auto">{{skill.nombre}}</h5>

    </div>

    <div class="container-fluid">
      <ngb-progressbar [value]="(skill.porcentaje)" class="shadow"></ngb-progressbar>
    </div>

    <div class="btn-group float-end" *ngIf="isLogged">

      <button type="button" class="btn btn-outline-secondary shadow m-1 rounded-5"
        routerLink="/portfolio/editSkill/{{skill.id}}">
        <i class="bi bi-pencil"></i>
      </button>

      <button type="button" class="btn btn-outline-danger shadow m-1 rounded-5 " (click)="delete(skill.id)">
        <i class="bi bi-x-circle"></i>
      </button>
    </div>

  </div>






</div>
