


  <div class="container-fluid row d-flex bg-dark text-light m-0">
    <h1 >Skills</h1>

    <div class="col-md-4 bg-secondary shadow rounded">
      <h1>Frontend</h1>
      <div class="container mt-2">
        <div class="d-inline-flex">
          <img src="/assets/img/html_icon.svg" alt="Bootstrap" width="32" height="32">

          <h5 class="my-auto">HTML5</h5>

        </div>
        <div class="progress">
          <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
          role="progressbar"
          aria-label="Success striped example"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          ></div>

        </div>

      </div>
      <div class="container mt-2">
        <div class="d-inline-flex">
          <img src="/assets/img/css_icon.svg" alt="Bootstrap" width="32" height="32">

          <h5 class="my-auto">CSS3</h5>

        </div>
        <div class="progress">
          <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-info"
          role="progressbar"
          aria-label="Success striped example"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          ></div>
        </div>

      </div>

      <div class="container mt-2">
        <div class="d-inline-flex">
          <img src="/assets/img/TS_icon.svg" alt="Bootstrap" width="32" height="32">
          <h5 class="my-auto">TypeScript</h5>

        </div>
          <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-label="Default striped example"
            style="width: 10%"
            aria-valuenow="10"
            aria-valuemin="0"
            aria-valuemax="100"></div>
          </div>

      </div>

      <div class="container mt-2">
        <div class="d-inline-flex">
          <img src="/assets/img/javascript_icon.svg" alt="Bootstrap" width="32" height="32">
          <h5 class="my-auto">JavasScript</h5>

        </div>
        <div class="progress">
          <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
          role="progressbar"
          aria-label="Success striped example"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          ></div>
        </div>

      </div>

      <div class="container mt-2">
        <div class="d-inline-flex">
          <img src="/assets/img/file_type_angular_icon_130754.svg" alt="Bootstrap" width="32" height="32">
          <h4>Angular</h4>

        </div>

        <div class="progress">
          <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
          role="progressbar"
          aria-label="Success striped example"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          ></div>
        </div>

      </div>

      <div class="container mt-2">
        <div class="d-inline-flex">
          <img src="/assets/img/react_icon.svg" alt="Bootstrap" width="32" height="32">

          <h5 class="my-auto">React JS</h5>

        </div>
        <div class="progress">
          <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-dark"
          role="progressbar"
          aria-label="Success striped example"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          ></div>
        </div>

      </div>
    </div>


    <div class="col-md-4">
      <h1 class="">Backend</h1>
      <div class="container mt-2">
        <div class="d-inline-flex">
          <img src="/assets/img/java_icon.svg" alt="Bootstrap" width="32" height="32">
          <h5 class="my-2">JAVA</h5>

        </div>

        <div class="progress">
          <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-info"
          role="progressbar"
          aria-label="Success striped example"
          style="width: 40%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          ></div>
        </div>

      </div>

      <div class="container mt-2">
        <div class="d-inline-flex">
          <img src="/assets/img/node_icon.svg" alt="Bootstrap" width="32" height="32">
          <h5 class="my-auto">NODE JS</h5>

        </div>
        <div class="progress">
          <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-success"
          role="progressbar"
          aria-label="Success striped example"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          ></div>
        </div>

      </div>

      <div class="container mt-2">
        <div class="d-inline-flex">
          <img src="/assets/img/spring_icon.svg" alt="Bootstrap" width="32" height="32">
          <h5 class="my-auto">Spring Boot</h5>

        </div>

        <div class="progress">
          <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-dark"
          role="progressbar"
          aria-label="Success striped example"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          ></div>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <h1 class="">Data-Bases</h1>
      <div class="container mt-2">
        <div class="d-inline-flex">
          <img src="/assets/img/mysql_icon.png" alt="Bootstrap" width="32" height="32">
          <h5 class="my-2">MySQL</h5>

        </div>

        <div class="progress">
          <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-info"
          role="progressbar"
          aria-label="Success striped example"
          style="width: 40%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          ></div>
        </div>

      </div>

      <div class="container mt-2">
        <div class="d-inline-flex">
          <img src="/assets/img/firebase_icon.png" alt="Bootstrap" width="32" height="32">
          <h5 class="my-auto">Firebase 9</h5>

        </div>
        <div class="progress">
          <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-success"
          role="progressbar"
          aria-label="Success striped example"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          ></div>
        </div>

      </div>

      <div class="container mt-2">
        <div class="d-inline-flex">
          <img src="/assets/img/mongo_icon.png" alt="Bootstrap" width="32" height="32">
          <h5 class="my-auto">Mongo DB Atlas</h5>

        </div>

        <div class="progress">
          <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-dark"
          role="progressbar"
          aria-label="Success striped example"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          ></div>
        </div>

      </div>
    </div>

  </div>
