<div class="container mb-2">
  <div class="d-inline-flex mt-1">
    <div class="">
      <h1 class="p-2">Proyectos</h1>
    </div>
    <div class="my-auto">
      <button class="btn btn-outline-dark btn-sm rounded-0 shadow" routerLink="/portfolio/agregarProyecto"
        *ngIf="isLogged">
        <i class="bi bi-plus-lg" style="font-size: 21px;"></i>
      </button>

    </div>
  </div>
  <hr>
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col" *ngFor="let proyecto of proyectos">
      <div class="card ">
        <!--   <img src={{proyecto.img}} class="card-img-top" alt="imagen del proyecto"> -->
        <div class="card-body">
          <h5 class="card-title">{{proyecto.nombreP}}</h5>
          <p class="card-text">{{proyecto.descripcion}}

          </p>
        </div>
        <div class="btn-group">

          <button type="button" class="btn btn-outline-secondary rounded-0" *ngIf="isLogged"
            routerLink="/portfolio/editarProyecto/{{proyecto.id}}">

            <i class="bi bi-pencil"></i>
            Editar
          </button>

          <button type="button" class="btn btn-outline-danger rounded-0 " (click)="delete(proyecto.id)"
            *ngIf="isLogged">
            <i class="bi bi-x-circle"></i>
            Eliminar
          </button>

        </div>
      </div>
    </div>



  </div>
</div>

<!--  <div class="col">
      <div class="card ">
        <img src="../../../../assets/img/csharp/CSharp.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Catalogo de Articulos</h5>
          <p class="card-text">Aplicacion de Catalogo de Articulos con C#, ASP .Net Framework, SQL Server y Bootstrap.
            <a href="https://github.com/ezequiel-piki/CatalogoApp" target="_blank">Ver codigo
              en github</a>
          </p>
        </div>

      </div>
    </div>

    <div class="col">
      <div class="card ">
        <img src="../../../../assets/img/restApi/restApi.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">API Rest para gestion de local</h5>
          <p class="card-text">API desarrollada en JAVA con SpringBoot. Con la misma podemos realizar CRUD's completos
            de clientes, productos y ventas.
            <a href="https://github.com/ezequiel-piki/API-java-spring-boot" target="_blank">Ver codigo
              en github</a>
          </p>
        </div>

      </div>
    </div>

    <div class="col">
      <div class="card ">
        <img src="../../../../assets/img/mapbox/mapbox.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">APP Geolocalización</h5>
          <p class="card-text">Realizamos una aplicaciòn de geolocalización consumiendo la API de Mapbox. Utilizando
            como framework Angular y Bootstrap para los estilos <a href="https://github.com/ezequiel-piki/CatalogoApp"
              target="_blank">Ver codigo
              en github</a></p>
        </div>

      </div>
    </div> -->
